<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home-page.css" />
    <!-- <link rel="stylesheet" href="../public/css/home-page.css" /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div>
        <img class="bg-pic" src="../images/laughing_img.jpg" alt="" />
      </div>

      <div class="text">
        <div class="heading">
          <span class="company-name">Haste Raho</span>
          <img class="lol-icon" src="../images/lol-icon-96px.png" alt="LOL" />
        </div>
        <div class="quote">"Life is better when you are laughing."</div>
        <div class="info">
          This website uses
          <a href="https://sv443.net/jokeapi/v2/">Joke API</a> to fetch data and
          provide <u>JSON response</u> to make users <i>LAUGH</i>
        </div>
        <div class="gui-version">
          <h1>For GUI Lovers: <a href="/home/gui/">GUI version</a></h1>
        </div>
        <div class="urlTypes">
          <ul>
            <h2>Joke Categories:</h2>
            <div class="line"></div>
            <div class="tab">
              <li>Programming :)</li>
              <li>Miscellaneous :-}</li>
              <li>Dark :|</li>
            </div>
          </ul>
          <ul>
            <h2>Joke Limit :</h2>
            <div class="line"></div>
            <div class="tab">
              <li>Max 5 jokes/request xD</li>
              <li>Default 2 jokes/request</li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
