<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Axios</title>
  </head>
  <body>
    <form action"/home/gui" method="post">
      <h4>Category:</h4>
      <input type="checkbox" name="category" value="Programming" />Programming
      <input
        type="checkbox"
        name="category"
        value="Miscellaneous"
      />Miscellaneous <input type="checkbox" name="category" value="Dark" />Dark

      <br />
      <input type="number" name="limit" value="1" > Limit
      <br />


      <button id="btnGET" type="submit">Get</button>
    </form>
  </body>
</html>
