<header class="header">
  <nav class="navbar">
    <div class="navbar__all nav-elem"><a href="/student/all">All</a></div>
    <div class="navbar__analysis nav-elem">
      <a href="/student/compare">Analysis</a>
    </div>
    <div class="navbar__add nav-elem"><a href="/student/add">Add</a></div>
    <div class="navbar__portal-name nav-elem">
      <a href="/home">Portal</a>
    </div>
  </nav>
</header>
