<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/basic.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

    <title>Home Page</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div
      class="mxgraph"
      style="max-width: 100%; border: 1px solid transparent;"
      data-mxgraph='{"highlight":"#0000ff","nav":true,"resize":true,"toolbar":"zoom layers lightbox","edit":"_blank","xml":"&lt;mxfile host=\"app.diagrams.net\" modified=\"2020-07-30T05:16:46.410Z\" agent=\"5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36\" etag=\"YpUrth_0RyWLzue6a40V\" version=\"13.5.5\" type=\"device\"&gt;&lt;diagram id=\"3ZViIYib9qoUsSPcyDr4\" name=\"Page-1\"&gt;3Vtbc+I2FP41PCaD7+aRQNKd6aaTKb3sPipYAXWNRWURYH99JVvyVQYTLOM0D4l9JMvWd27fkZSRNdscfiFgu37GAQxH5jg4jKz5yDR912e/ueCYCmzfTAUrgoJUZOSCBfoJhXAspDsUwLjUkWIcUrQtC5c4iuCSlmSAELwvd3vDYfmtW7CCNcFiCcK69G8U0LWYlunl8i8QrdbyzYY7SVs2QHYWM4nXIMD7gsh6HFkzgjFNrzaHGQw5dhKX9LmnhtbswwiMaJsHdmS/f/nrj8hfhr86i9n7M1xM7sQo7yDciQmPTDdk4z0E6J1/ND0KJNx/d/xLH95wRO/iRE9T1sGwt0zVD3k7u1qJv8k4r1eN8gVvIGt/4VoSA7IZvlZfwmTJ90qpWXqpSfAuCiDHYcya92tE4WILlrx1z6yWydZ0E7I7Q3yasEPDZvfvkFDEDGIaolXEhBRvs3fwNnhoVIiRqZm5B2RToeTIuogHPDd9QniGtJN9bmaGb6eyddHEJqIjEKa9ykbOtc8uhAFcYAxmozFkgM/whk0QxTg6qZUK/kNB3BmPS5BbdchN2aUEua0LcsNWYF5BjwWOLb98C+FhykMaAwNGgbicL0MQx2h5GtIQvMLwASx/rBJfmOEQk2R0a24/Gk9O1gWTAJJC8xP7sawMfhjUwuVZ8AvoOgpwpYzAEFD0Xh5eBbh4wwtG7MWZbo2yat2KxmK8I0sonilGycowFaesDkMBWUFaGybRfTblj5uDtLOCOcR0F8DkC41u4xoQ3hXCN9qRe9llHZi2Uw9ppsIETF3uZdfzW45n3dMGh6dRDleqFNEvni1ShBTspOB3CAL2zDQZfpHBX8wer6RGG1pI2BR2CllneaiiUXVaao6sb8mPnsyVpamzqcvXZQv+pIYvzw4LcRvhiP15KLsUJnSNVzgC4VfM0Utg/wdSehS4gx3FZaXAA6LfxOP8+ju/vvcccTs/FNrmR3FT1SRDmRy/yRH5TTqM6cj7fJzkTg7UNusxGJIEc8p3rLRjmkJOAeuqTeGyBMnoATgWOmx5zoqb86ddSaCmXyknzvSXwT83qfQLus2P1ol4HoGNIqAA5ndppAEb7q/Ra7ztPjboyJ5Oy2ivjZzadXJ6KnsODkFLESSVCFraEHROIGh9AgTtWyPo1RnxuRUKNn16J7DhiwtLNnlITq5QNDCXJ0w29Tr3DOdQr0ikUq7B1ushzR+cBbcnRGL6mzLufQVNLY/RKkTxut7wDOg6rounWQS9hJmlU9VCxBLK9YJjRBHmYqHgnKF9rXTYoCDgr26gcGtM0E/2SiDf34EnedVSSMHXrF752sTrl6/dS4r2vdCipmsZPRMPZQTtDDur2kmHbM2Ti83a2dp14bFe4E6D4Fp/68D+DbeSSSZ1B3D7LF09Vek67PrfcMr1v6TkZ7OxoQ3EOv/+bCC2JoX6QGyx5jt0ENvyQn0g1pn1pwOx7XKePhDdzw+ie3MQ++ZVXpFYZVyq1TrYSE2QumNDXnuF9kSQ+l2lNIqquT+9SFlgvRPDuoT3JncvkCCGES98tJNhv636x1fq+kNLlxkvKm/aaV2JlJBUiXe+wTG0tR1j7JdQaru8qI2Ry8MNQ3bNu/H9eFyuSe9ty72wLlX6a4f+6bcNz+YtQ7Ffr1XT4yQwd5t4+H7TtgjT5zfO8P1mXHYZiwM8qJQmjyGedRn7Wp/5UEqzKssn0sKaduOq/U3H158DJYbFHFjc5P8EzmwYN/dmVQ12bmNCfYqi7d7EqRX8ZEeBjdu8qdDYmO0rjJ8B+aHYSBD7C03NjfsMMwIBhZxcTaliVBygN5Q1d2px+s5+lt3VVqyOZlsGZTPUtj3Qb1b54PaA7V20QdB3VpFqPJtVJjctiuVnFmLOY4A6c55sP66LgC230GVtpyhbfIWjaNuQnjQfmW+O1ym6DYffugjb2mLv/yG6egqbUUZXw9NmNf3WuuXDch/j7OeOxukMo23J+Y2OypXNyxcFWeNJucpBuUkPy1MSwUKU+nMbMBY1yBhfOdzqe7eO8W6v3tpFhe3d0l3bnmy9US3tXeav1f6W5Yz0O2x9Z30OQzhMhzUH57B+v+n1guJFo9+1zZLXel2Datht/t+rqR/k/wJsPf4H&lt;/diagram&gt;&lt;/mxfile&gt;"}'
    ></div>
    <script
      type="text/javascript"
      src="https://app.diagrams.net/js/viewer-static.min.js"
    ></script>
  </body>
</html>
